@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(77, 77, 77);
  background-image: url("/img/bg12.jpg");
  background-size: cover;
}

body {
  display: grid;
  grid-template-areas:
  "header header"
  "aside main"
  "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 4em auto;
  font-family: Roboto, sans-serif;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

article {
  background-color: rgb(188, 189, 200);
  border-radius: 33px;
  margin: 30px;
  padding: 40px;
}

article#img section {
  display: flex;
  place-content: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

img {
  border-radius: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-self: auto;
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 3em;
  background-color: #141518;
  color: #c8c8c8;
  min-height: 100px;
}