@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(77, 77, 77);
  background-image: url("/img/bg12.jpg");
  background-size: cover;
}

body {

}

article {
  background-color: rgb(188, 189, 200);
  border-radius: 33px;
  margin: 30px;
  padding: 40px;
}

h1, h2 {

}


#img img {
  transition: scale 500ms cubic-bezier(0, 1, 0.8, 1.52), rotate 500ms cubic-bezier(0.2, 3, 0.1, 4.52);
  border-radius: 33px;
  border: 2px solid #ddd;
}

#img img:hover {
  scale: 3;
  rotate: 10deg;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ddd;
  color: rgb(7, 7, 7);
  height: 100px;
}