#admin-panel form {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--color-background-accent);
  border-radius: 33px;
}
#admin-panel form:is(#user-search) input[type="search"] {
  width: 100%;
}
#admin-panel form :is(ul, label) {
  color: #ebefef;
}
#admin-panel form:is(#user-modifier) {
  flex-wrap: wrap;
  gap: 1em;
}
#admin-panel form:is(#user-modifier) > :is(label, input) {
  flex: 50%;
}
#admin-panel form:is(#user-modifier) input[type="submit"]:first-child {
  margin-top: 2em;
}

#admin-panel #user_list {
  display: grid;
  grid-template-areas:
    "title"
    "header"
    "list";
  grid-template-rows: 2em auto auto;

  --result-padding: 12em;
  --result-width: calc(var(--site-size-width) - var(--result-padding) * 2);

  --length-id: 2em;
  --length-firstname: 7em;
  --length-lastname: 7em; 
  --length-email: 7em;
  --length-last_logged_in: 6em;
  --length-date_created: 6em;

  /* multiply list entry with this */
  --length-var: calc(var(--result-width) / (calc(var(--length-id) + var(--length-firstname) + var(--length-lastname) + var(--length-email) + var(--length-last_logged_in) + var(--length-date_created))));
}