#example {
  background: transparent;
  display: none;
}

#example article {
  color: white;
  background: black;
}

#example article>h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}