<section id="admin-panel">
  <article>
    <h1>Administrate Users</h1>

    <form id="user-search">
      <label for="search">Search:</label>
      <input type="search" id="search" name="search" />
      <button type="button" name="getUsers">Search</button>
    </form>

    <form id="user-handle" class="stretch-center">
      <button type="button" name="getUsers">Get Users</button>
      <button type="button" name="getUser">Get User</button>
      <button type="button" name="postUser">Add User</button>
      <button type="button" name="updateUser">Update User</button>
    </form>

    <form id="user-modifier">
      <label for="id">Id </label>
      <input type="text" id="id" name="id"  value="1"/>
      <label for="firstname">Firstname</label
      ><input type="text" id="firstname" name="firstname" value="fn"/>
      <label for="lastname">Lastname</label
      ><input type="text" id="lastname" name="lastname"  value="ln"/>
      <label for="email">Email</label
      ><input type="text" id="email" name="email"  value="em"/>
    </form>

    <pre id="alert"></pre>

    <section id="user_list">
      <h3>Result:</h3>
      <ul>
        <li>Id</li>
        <li>Firstname</li>
        <li>Lastname</li>
        <li>Email</li>
        <li>Last logged in</li>
        <li>Date created</li>
      </ul>
    </section>
  </article>
</section>
